*{
    margin: 0;
    padding: 0;
    box-sizing :border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
@media (min-width:375px) {

    .main-cont{
        width: 100%;
        height: 100%;
        /* background-color: bisque; */
        background-image: url("image/gadget\ 2.jpg");
        background-size: cover;
        background-position:top;
        background-repeat: no-repeat;
    }

    .box{
        width: 100%;
        height: 180px;
        background-color: white;
        borde
    }
}