git add.
*{
    margin: 0;
    padding: 0;
    border-sizing:border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.main-cont{
    width: 100%;
    height: 1000%;
    padding:20px; 
}
.my-nav{
    background-color: aquamarine;
    display: flex;
}







